@middle-padding: 20rpx;
@small-padding: 10rpx;
@btn-border-radius: 10rpx;
@module-border-radius: 20rpx;
@big-border-radius: 50rpx;
@small-avater: 60rpx;
@middle-avater: 80rpx;
@big-avater: 120rpx;
@mini-icon-size: 30rpx;
@small-icon-size: 40rpx;
@middle-icon-size: 50rpx;
@big-icon-size: 70rpx;
@normal-font-size: 30rpx;
@big-font-size: 40rpx;
@line-height: 30rpx;
@line-width: 5rpx;
@input-height: 80rpx;
@popup-menu-width: 300rpx;
@popup-menu-height: 80rpx;
@popup-menu-left: -300rpx;
@popup-menu-top: -20rpx;
@border-size: 5rpx;
@btn-height: 100rpx;
@btn-border-radius: 50rpx;
@arrow-size: 15rpx;